:root {
  --white: #fff;
  --neutral-100: #f5f5f5;
  --neutral-300: #d4d4d4;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --indigo-50: #eef2ff;
  --indigo-500: #6366f1;
  --indigo-700: #4338ca;
}
.flight-path {
  position: absolute;
    top: 40%;
    left: 1%;
    width: 5%;
    transform: translateY(50%);
    pointer-events: none;
    z-index: 5;
}

.path-line {
  height: 2px;
  background: linear-gradient(
    to right,
    #0d6efd,
    #4dabf7,
    #0d6efd
  );
}

.plane-icon {
  position: absolute;
  top: -10px;
  right: 0;
  color: #0d6efd;
  font-size: 22px;
  transform: rotate(45deg);

  animation: flyPlane 1s ease-in-out;
}

@keyframes flyPlane {
  0% {
    transform: translateX(-15px) rotate(45deg) scale(0.8);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    transform: translateX(0) rotate(45deg) scale(1);
    opacity: 1;
  }
}
body {
  background-color: var(--neutral-100);
  font-family: "Inter", sans-serif;
  line-height: 1.5;
}

.wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

select {
  background: none;
  border: 0;
  padding: 0;
  outline: none;

  &,
  &::picker(select) {
    appearance: base-select;
  }

  &::picker(select) {
    opacity: 0;
    transform: translateY(0.5rem);
    transition: all 0.4s allow-discrete;
  }

  &::picker(select):popover-open {
    opacity: 1;
    transform: translateY(0);
  }

  @starting-style {
    &::picker(select):popover-open {
      opacity: 0;
      transform: translateY(0.75rem);
    }
  }

  selectedcontent > * {
    transition: transform 1s
        linear(
          0,
          0.009,
          0.037 1.7%,
          0.153 3.6%,
          0.776 10.3%,
          1.001,
          1.142 16%,
          1.185,
          1.209 19%,
          1.215 19.9% 20.8%,
          1.199,
          1.165 25%,
          1.056 30.3%,
          1.008 33%,
          0.973,
          0.955 39.2%,
          0.953 41.1%,
          0.957 43.3%,
          0.998 53.3%,
          1.009 59.1% 63.7%,
          0.998 78.9%,
          1
        ),
      display 1s allow-discrete, opacity 1s;

    @starting-style {
      opacity: 0;
      transform: translateY(0.625rem);
    }
    opacity: 1;
  }

  &::picker-icon {
    display: none;
  }

  > button {
    background-color: var(--white);
    border-radius: 0.5rem;
    border: 1px solid var(--neutral-300);
    color: var(--gray-700);
    display: inline-flex;
    gap: 0.5rem;
    justify-content: space-between;
    min-width: 200px;
    padding: 0.75rem;
    transition: border 0.4s ease;
  }

  &:open > button,
  > button:focus {
    border-color: var(--indigo-500);
  }

  &::picker(select) {
    border-radius: 0.5rem;
    border: 1px solid var(--neutral-300);
    margin-top: 0.375rem;
    overflow: hidden;
  }

  option {
    color: var(--gray-600);
    outline: none;
    padding: 0 3rem 3px 10px;
    text-align: left;

    &:not(:last-child) {
      border-bottom: 1px solid var(--neutral-300);
    }

    &:hover {
      background: var(--indigo-50);
      color: var(--indigo-700);
    }

    &:is(:checked) {
      background-color: var(--indigo-500);
      color: var(--white);
    }

    &::checkmark {
      position: absolute;
      right: 1rem;
    }
  }
}

.custom-option {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}

.no-support {
  align-content: center;
  background-color: #000d;
  color: var(--white);
  display: grid;
  gap: 1em;
  inset: 0;
  place-items: center;
  position: fixed;
  z-index: 10;
  text-align: center;
  padding: 1rem;

  @supports (appearance: base-select) {
    display: none;
  }
}
.b-none {
  border: none;
}
